<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="de">
	<head th:replace="fragmente/head :: head(~{::title}, ~{::link})">
		<title>Einstellungen - Rechnungsmanager</title>

		<!-- cropper css -->
		<link rel="stylesheet" th:href="@{/node_modules/cropperjs/dist/cropper.min.css}" >
	</head>

	<body class="black-skin">
		<header th:replace="fragmente/menu :: menu"></header>


		<main class="mt-3">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1 class="h1">Profileinstellungen von: <span sec:authentication="name"></span></h1>
						<h4 class="h4 text-muted">Zugewiesene Rolle: <span>[[${user.role.name}]]</span></h4>
					</div>
				</div>

				<div class="row mt-5">
					<div class="col-6">
						<form id="profilForm" th:action="@{/settings/userinfo}" th:object="${userinfo}" method="POST">
							<p class="h4 mb-4">Persönliche Daten:</p>

							<input type="hidden" th:field="*{id}">

							<div class="md-form">
								<input type="email" id="email" name="email" th:field="*{email}" class="form-control mb-4" required>
								<label for="email">E-Mail</label>
							</div>

							<div class="md-form">
								<input type="text" id="abteilung" name="abteilung" th:field="*{abteilung}" class="form-control mb-4">
								<label for="abteilung">Abteilung</label>
							</div>

							<div class="md-form">
								<!-- Phone number -->
								<input type="tel" id="telefon" th:field="*{telefon}" class="form-control" aria-describedby="defaultRegisterFormPhoneHelpBlock">
								<small id="telefonnummer" class="form-text text-muted mb-4">
									Optional - für schnellere Kontaktaufnahme
								</small>
								<label for="telefonnummer">Telefonnummer</label>
							</div>

							<div class="md-form mt-3 text-center">
								<img th:if="*{signatureFileName  == null}" th:src="@{/img/rect.png}" class="img-fluid"  alt="Responsive image">
								<img th:if="*{signatureFileName != null}"  th:src="@{'/image/'+ *{signatureFileName}}" class="img-fluid" alt="Responsive image">
								<small class="form-text text-muted mb-4">
									Deine Signatur
								</small>
								<div class="text-center">
								  <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#signatureImageUploadModal">Signatur ändern!</a>
								</div>
							</div>
							<button class="btn btn-success" type="submit" id="speichern">Speichern</button>
						</form>
					</div>
				</div>


			</div>
		</main>


		<div th:replace="app/settings/modules :: signaturImageUpload"></div>


		<footer class="fixed-bottom" th:replace="fragmente/footer :: footer(~{::script})">

			<!-- Cropper JS -->
			<script type="text/javascript" th:src="@{/node_modules/cropperjs/dist/cropper.js}"></script>
			<!-- Settings js -->
			<script th:inline="javascript">
				let token = $('#_csrf').attr('content');
				let header = $('#_csrf_header').attr('content');

				let preview = document.getElementById('sample_image');
				let cropper;

				// Ausgewähltes Bild einlesen und in preview Element ausgeben
				function readURL(input) {
					if (input.files && input.files[0]) {
						var reader = new FileReader();
						reader.onload = function(e) {
							preview.src = e.target.result;
						}
						reader.readAsDataURL(input.files[0]); // convert to base64 string
					}
				}

				$("#upload_image").change(function() {
					readURL(this);
				});

				// Cropper lib kennt kein jQuery
				preview.addEventListener('load', function(event) {
					console.log(preview);
					cropper = new Cropper(preview, {
						aspectRatio: 16/4
					});
				});

				$('#signature-form').on('submit', function(event) {
					event.preventDefault();
					cropper.getCroppedCanvas({
						maxHeight: 202,
						maxWidth: 429
					}).toBlob(function (blob) {
						const url = URL.createObjectURL(blob)
						$('#croppedImage').attr('src', url);
					});
				});

				// Wenn zugeschnittenes Bild geladen wurde, entferne die weißen Pixel
				document.getElementById('croppedImage').addEventListener('load', function(event){
					let img = document.getElementById('croppedImage');
					let canvas = document.getElementById("canvas");
					let ctx = canvas.getContext("2d");
					canvas.height = event.target.height;
					canvas.width = event.target.width;
					ctx.drawImage(img,0,0);

					let imgd = ctx.getImageData(0,0, 429, 202);
					let	pix = imgd.data;
					let	newColor = {r:0,g:0,b:0, a:0};

					for (let i = 0, n = pix.length; i <n; i += 4) {
						let r = pix[i], g = pix[i+1], b = pix[i+2];

						if(r === 255 && g === 255 && b === 255){
							// Change the white to the new color.
							pix[i] = newColor.r;
							pix[i+1] = newColor.g;
							pix[i+2] = newColor.b;
							pix[i+3] = newColor.a;
						}
					}
					ctx.putImageData(imgd, 0, 0);
					const file = dataURLtoBlob(canvas.toDataURL());
					submitFormWithAjax(file);
				});

				function submitFormWithAjax(blob) {
					let fd = new FormData();
					fd.append('image', blob, 'signature.png');
					$.ajax({
						type: 'POST',
						url: '/settings/userinfo/signature',
						data: fd,
						processData: false,
						contentType: false,
						beforeSend: function(xhr) {
							xhr.setRequestHeader(header, token);
						}
					}).done(function(data) {
						location.reload();
					});
				}

				var dataURLtoBlob;

				dataURLtoBlob = function(dataURL) {
					var array, binary, i;
					binary = atob(dataURL.split(',')[1]);
					array = [];
					i = 0;
					while (i < binary.length) {
						array.push(binary.charCodeAt(i));
						i++;
					}
					return new Blob([new Uint8Array(array)], {
						type: 'image/png'
					});
				};




			</script>
		</footer>
	</body>
</html>