
#eyecatcherBackground{
	background-image: url('../img/kategorien/dark-blue-bg.jpg') !important;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.rechnungsCheckbox{
	
}

/* Customize the label (the container) */
.containerVerteiler {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.containerVerteiler input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containerVerteiler:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerVerteiler input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerVerteiler input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerVerteiler .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.login-page {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: linear-gradient(to left bottom, rgba(62, 69, 81, 0.7), rgba(0, 0, 0, 0.7)), url("/img/login-background.jpg") no-repeat center center fixed;
}

@media only screen and (min-height: 1270px){
    .login-page {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background: linear-gradient(to left bottom, rgba(62, 69, 81, 0.7), rgba(0, 0, 0, 0.7)), url("/img/login-background-4k.jpg") no-repeat center center fixed;
    }
}

@media only screen and (min-width: 1918px ){
  .login-page {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: linear-gradient(to left bottom, rgba(62, 69, 81, 0.7), rgba(0, 0, 0, 0.7)), url("/img/login-background-4k.jpg") no-repeat center center fixed;
  }
}