<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
	<head th:replace="fragmente/head :: head(~{::title}, ~{})">
		<title>Verteiler - Rechnungsmanager</title>
	</head>

	<body class="black-skin">
		<header th:replace="fragmente/menu :: menu"></header>

		<main>
			<div class="container mt-5">
				<div class="row d-flex justify-content-center">
					<div class="col-2"></div>
					<div class="col-7 text-center">
						<h1 class="h1">Folgende Rechnungen sind zu verteilen</h1>
						<h4 class="h4 text-muted">Aktuelle Rechnungen: <span th:text="${anzahl}"></span></h4>
					</div>
					<div class="col-2">
						<div class="dropdown mt-2">
							<h2 class="h2" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-cog text-dark"></i>
							</h2>

							<div class="dropdown-menu dropdown-primary">
								<a class="dropdown-item" data-toggle="modal" data-target="#modalRechnungHochladen">PDF Hochladen</a>
								<a class="dropdown-item" data-toggle="modal" data-target="#modalDeleteRechnung">PDF Löschen</a>
								<a class="dropdown-item" href="#" >PDF Download</a>
							</div>
						</div>
					</div>
				</div>

				<hr>

				<div class="row mt-2">
					<div class="col-6 text-center">
						<h2>Rechnungen auswählen</h2>
					</div>

					<div class="col-6 text-center">
						<div class="btn-group mt-2 center" role="group" aria-label="Btn Action Group">
							<a onclick="changeImagePre()" type="button" class="btn mdb-color darken-3 btn-rounded">Vorherige</a>
							<a class="btn mdb-color darken-3 btn-rounded" data-toggle="modal" data-target="#modalUebermitteln" >Weiterleiten</a>
							<a onclick="changeImageNext()" type="button" class="btn mdb-color darken-3 btn-rounded">Nächste</a>
						</div>
					</div>
				</div>

				<div class="row mt-2">
					<div class="col-6 ">
						<form class="form" th:action="@{/templates/app/verteilen}" method="POST">
							<table class="table table-bordered table-stripded">
								<thead class="thead-dark">
									<tr>
										<th>#</th>
										<th>Name</th>
									</tr>
								</thead>

								<tbody>
									<tr th:each="pdf : ${pdfs}" th:id="${pdf}">
										<td style="width: 40px;">
											<label class="containerVerteiler">
												<input class="rCheckboxes" type="checkbox" th:id="${pdf} + '_checkbox'" th:name="${pdf}">
												<span class="checkmark"></span>
											</label>
										</td>
										<td>
											<p th:text="${pdf}"></p>
										</td>
									</tr>
								</tbody>

							</table>
						</form>
					</div>

					<div class="col-6 text-center">
						<p th:if="${pdfs == null or pdfs.empty}">Keine Rechnungen vorhanden!</p>
						<!-- Frame indem die PDF geladen wird -->
						<iframe th:if="${pdfs!=null and !pdfs.empty}" id="showPdf" th:src="'http://localhost:8080/pdf?name='+${pdfs[0]} +'&verteiler=true'"
								style="width:600px; height:880px;" frameborder="0"></iframe>
					</div>
				</div>
			</div>
		</main>

		<div th:replace="fragmente/verteilerModals :: modalUebermitteln"></div>

		<footer th:replace="fragmente/footer :: footer(~{::script})">
			<!-- Rechnungsmanager JavaScript -->
			<script type="text/javascript" th:src="@{/js/rechnungsmanager.js}"></script>

			<!-- Homepage PDF Navigation -->
			<script th:inline="javascript">
				var list = [[${pdfs}]];
				var users = [[${users}]];
				var number = 0;

				$('#form-autocomplete').mdbAutocomplete({
					data: users
				});

				highlight(number);

				function changeImageNext(){
					var link = '';
					var src = 'http://localhost:8080/pdf?name=';
					dehighlight(number);

					if(number < list.length-1) {
						link = src + list[number + 1] + "&verteiler=true";
						number++;
					} else {
						number = 0;
						link = src + list[number] + "&verteiler=true";
					}
					highlight(number);
					document.getElementById("showPdf").src = link;
				}

				function changeImagePre(){
					var link = '';
					var src = 'http://localhost:8080/pdf?name=';
					dehighlight(number);

					if((list.indexOf(list[number])-1) >= 0) {
						link = src + list[number - 1] + "&verteiler=true";
						number--;
					} else {
						number = list.length-1;
						link = src + list[number] + "&verteiler=true";
					}
					highlight(number);
					document.getElementById("showPdf").src = link;
				}

				function getAllCheckboxes(){
					let a = [];
					$('.rCheckboxes:checkbox:checked').each(function(){
						a.push(this.id.substring(0, this.id.indexOf("_"))); // wieder umwandeln in normalen Dateinamen
					});
					console.log(a);
					return a;
				}


				function highlight(num) {
					var id = '#' + escapeDot(list[num]);
					$(id).css("background-color", "#f0f4c3");
				};

				function dehighlight(num) {
					var id = '#' + escapeDot(list[num]);
					$(id).css("background-color", "white");
				};

				function escapeDot(idName){
					var str = idName;
					var n = str.replace(".", "\\.");
					return n;
				}

				$('#submitWeiterleiten').on('click', function (ev) {

					var pdfs = getAllCheckboxes();
					var username = $('#form-autocomplete').val();

					var data = new FormData();
					data.append('userName', username);
					for (var i = 0; i < pdfs.length; i++) {
						data.append('pdfList[]', pdfs[i]);
					}

					console.log(username);

					$.ajax({
						type: 'POST',
						url: '/verschieben',
						data: data,
						processData: false,
						contentType: false
					}).done(function(data){
						console.log("Reload");
						location.reload();
					});
				});
			</script>
		</footer>
	</body>
</html>