<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
	<head th:replace="fragmente/head :: head(~{::title}, ~{})">
		<title>Verteiler - Rechnungsmanager</title>
	</head>

	<body class="black-skin">
		<header th:replace="fragmente/menu :: menu"></header>

		<main>
			<div class="container mt-5">
				<div class="row d-flex justify-content-center">
					<div class="col-2"></div>
					<div class="col-7 text-center">
						<h1 class="h1">Folgende Rechnungen sind zu verteilen</h1>
						<h4 class="h4 text-muted">Aktuelle Rechnungen: <span th:text="${#lists.size(documents)}"></span></h4>
					</div>
					<div class="col-2">
						<div class="dropdown mt-2">
							<h2 class="h2" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-cog text-dark"></i>
							</h2>

							<div class="dropdown-menu dropdown-primary">
								<a class="dropdown-item" data-toggle="modal" data-target="#modalInvoiceUpload">PDF Hochladen</a>
								<a class="dropdown-item" data-toggle="modal" data-target="#modalInvoiceDelete">PDF Löschen</a>
							</div>
						</div>
					</div>
				</div>

				<div th:if="${error} != null" class="row">
					<div class="col-12">
						<div id="error-alert" class="alert alert-danger" role="alert">
							<h4 class="h4 h4-responsive">Ein Fehler ist aufgetreten</h4>
							<p>[[ ${error} ]]</p>
						</div>
					</div>
				</div>

				<hr>

				<div class="row mt-2">
					<div class="col-6 text-center">
						<h2>Rechnungen auswählen</h2>
					</div>

					<div class="col-6 text-center">
						<div class="btn-group mt-2 center" role="group" aria-label="Btn Action Group">
							<a onclick="changeImagePre()" type="button" class="btn mdb-color darken-3 btn-rounded">Vorherige</a>
							<a class="btn mdb-color darken-3 btn-rounded" data-toggle="modal" data-target="#modalInvoiceSubmit" >Weiterleiten</a>
							<a onclick="changeImageNext()" type="button" class="btn mdb-color darken-3 btn-rounded">Nächste</a>
						</div>
					</div>
				</div>

				<div class="row mt-2">
					<div class="col-6 ">
						<form class="form" th:action="@{/templates/app/verteilen}" method="POST">
							<table class="table table-bordered table-stripded">
								<thead class="thead-dark">
									<tr>
										<th>#</th>
										<th>Name</th>
									</tr>
								</thead>

								<tbody>
									<tr th:each="document : ${documents}" th:id="${document.id}">
										<td style="width: 40px;">
											<label class="containerVerteiler">
												<input class="rCheckboxes" type="checkbox" th:id="${document.id} + '_checkbox'" th:name="${document.fileName}">
												<span class="checkmark"></span>
											</label>
										</td>
										<td>
											<p th:text="${document.fileName}"></p>
										</td>
									</tr>
								</tbody>

							</table>
						</form>
					</div>

					<div class="col-6 text-center">
						<p th:if="${documents == null or documents.empty}">Keine Rechnungen vorhanden!</p>
						<!-- Frame indem die PDF geladen wird -->
						<iframe th:if="${documents!=null and !documents.empty}" id="showPdf" th:src="'http://localhost:8080/pdf?name='+${documents[0].fileName} +'&verteiler=true'"
								style="width:600px; height:880px;" frameborder="0"></iframe>
					</div>
				</div>
			</div>
		</main>

		<div th:replace="app/verteilen/modals :: modalInvoiceSubmit"></div>
		<div th:replace="app/verteilen/modals :: modalInvoiceUpload"></div>
		<div th:replace="app/verteilen/modals :: modalInvoiceDelete"></div>

		<footer th:replace="fragmente/footer :: footer(~{::script})">

			<!-- Verteilen PDF Navigation -->
			<script th:inline="javascript">
				let list = [[${documents}]];
				console.log(list);
				let users = [[${users}]];
				let success = [[${success}]]
				let number = 0; // Zum highlighten der ersten Rechnung

				$('#form-autocomplete').mdbAutocomplete({
					data: users
				});

				if (success) {
					toastr.success(success);
				}

				$('#submitWeiterleiten').on('click', function (ev) {
					let pdfs = getAllCheckboxes();
					let username = $('#form-autocomplete').val();
					let data = new FormData();

					data.append('userName', username);
					for (let i = 0; i < pdfs.length; i++) {
						data.append('pdfList[]', pdfs[i]);
					}

					let token = $('#_csrf').attr('content');
					let header = $('#_csrf_header').attr('content');

					$.ajax({
						type: 'POST',
						url: '/verschieben',
						data: data,
						processData: false,
						contentType: false,
						statusCode: {
							400: function (response) {
								$('#error-alert').html("Mindestens 1 PDF muss ausgewählt sein.<br> Ausgewählt ist sie wenn ein Haken vor dem namen angezeigt wird.");
								$('#error-alert').css('display', 'block');
							}
						},
						beforeSend: function(xhr) {
							xhr.setRequestHeader(header, token);
						},
					}).done(function(data){
						location.reload();
					});

				});

				$('#deleteInvoiceModalButton').on('click', () => {
					let pdfs = getAllCheckboxes();
					let username = $('#form-autocomplete').val();
					let data = new FormData();
					let token = $('#_csrf').attr('content');
					let header = $('#_csrf_header').attr('content');
					for (let i = 0; i < pdfs.length; i++) {
						data.append('pdfList[]', pdfs[i]);
					}
					data.append('userName', username);
					$.ajax({
						type: 'DELETE',
						url: '/verteilen',
						data: data,
						processData: false,
						contentType: false,
						statusCode: {
							400: function (response) {
								$('#error-alert-delete').html("Mindestens 1 PDF muss ausgewählt sein.<br>Ausgewählt ist sie, wenn ein Haken vor dem Namen angezeigt wird.");
								$('#error-alert-delete').css('display', 'block');
							},
							403: function (response) {
								$('#error-alert-delete').html("Für diese Aktion besitzt du nicht genug <br> Berechtigungen.");
								$('#error-alert-delete').css('display', 'block');
							},
							200: function (response) {
								location.reload();
							}
						},
						beforeSend: function(xhr) {
							xhr.setRequestHeader(header, token);
						}
					});
				});
			</script>

			<script type="text/javascript"  th:src="@{/js/rechnungsmanager/verteilen.js}"></script>
		</footer>
	</body>
</html>